.chef-card{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    @media screen and (max-width: $bp-desktop) {
      gap: 16px;      
    }
    
    &__text-last{
        margin: 0;
      }
    &__photo {
        border-radius: 4px 4px 4px 200px;
        box-shadow: -16px 16px 0 0 var(--color-primary-light),
          -16px 16px 0 2px var(--color-chef-picture-border);
          @media screen and (max-width: $bp-desktop) {
      width: 140px; 
      box-shadow: -10px 10px 0 0 var(--color-primary-light),
       -10px 10px 0 1px var(--color-chef-picture-border);    
    }
      } 
    &__title{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 16px;
        /*gap: 30px;*/
        @media screen and (max-width: $bp-desktop) {
        font-size: 24px;
          margin-bottom: 8px;      
    }
      }
      &__text{
        margin-bottom: 24px;
        &:last-child{
          margin-bottom: 0;
        }
        &  p:first-child{
          font-weight: bold;
          font-size: 24px;
        }
        & p>span{
          color: red;
        }
        @media screen and (max-width: $bp-desktop) {
        font-size: 14px;
        
        }
        
      }
      
}
