.tradition-section {
  padding-top: 96px;
   @media screen and (max-width: $bp-tablet) {
    padding-top: 40px;
    }
  &__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
&__content {
  max-width: 710px;
}
&__title {
  margin-bottom: 42px;
  /*justify-content: flex-start;*/
}
&__text{
font-weight: 600;
}
&__text:nth-child(3) {
  max-width: 360px;
}
&__text span:first-child{
  color: green;
  font-weight: 900;
}
&__image {
  @media screen and (max-width: $bp-tablet) {
    display: none;
   }
}
}
