.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);

@media screen and (max-width: $bp-tablet) {
  background-color: var(--color-brand-lines);
  padding: 24px 40px;
  border-radius: 24px;
  margin-top: 40px;
}
  &__list {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 0 16px;
  @media screen and (max-width: $bp-tablet) {
  display: block;
  text-align: center;
  padding: 0;
  }
}
}

