.footer {
  position: relative;
  padding: 32px 0;
  //background-image: url(/img/image\ 1564.png);
  background-color: rgb(105, 105, 241)/*var(--color-primary-dark);*/;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
&::before,
&::after{
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}
&::before{
  width: 180px;
  height: 120px; 
  //background-image: url(/img/mbadvn-PhotoRoom\ 2.png);
}
&::after{
  width: 380px;
  height: 190px;
  right: 0;
  //background-image: url(/img/vsbkdjvb-PhotoRoom\ 1.png);
}
&__container{
  display: flex;
  padding: 0;
  margin-right: 0;
  gap: 20px;
   @media screen and (max-width: 768px) {
    flex-direction: column;
    }
 
}
&__nav, 
&__address{
  flex-basis: 50%;
  display: flex;
  gap: 20px;
   @media screen and (max-width: $bp-tablet) {
    flex-direction: column;
    text-align: center;
    
  }
}
&__logo, 
&__menu,
&__list,
&__copy{
  flex-grow: 1;
  
}
&__info {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;//var(--color-primary-light);
  &:hover{
    color:white;//var(--color-brand-normal);
  }
}
&__contacts {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: black;//var(--color-primary-light);
  &:hover{
    color: white;//var(--color-brand-normal);
  }
}
&__politica {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
}
&__copyright {
  font-size: 14px;
  color: #a18268;
}
&__address-items{
  display: block;
  align-self: auto;
}
&__address-icon{
  fill: var(--color-primary-light);
  &:hover{
    stroke: aqua;
    
  }
}
&__address-icons{
  display: flex;
  margin-top: 16px;
  padding: 0;
  gap: 22px;
  @media screen and (max-width: $bp-tablet) {
    justify-content: center;
    
  }
}
&__address-copy{
  gap: 20px;
}
}



